﻿@model WheelOfFateWeb.Models.WheelOfFateModel
@{
    ViewBag.Title = "Wheel of fate";
}

<h2>Wheel of fate</h2>

<label class="red">@Model.Error</label>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="row" id="container-people">
                @foreach (var item in Model.People)
                {
                    Html.RenderPartial("Person", item);
                }
            </div>
            <div class="row">
                <input type="button" value="Add" class="btn" onclick="addPerson();" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(d => d.NrOfDaysForSchedule)
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(d => d.NrOfDaysForSchedule, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.NrOfDaysForSchedule, "", new { @class = "red" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(d => d.NrOfShiftsPerDay)
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(d => d.NrOfShiftsPerDay, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.NrOfShiftsPerDay, "", new { @class = "red" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(d => d.MaxNumberOfShiftsInADayForOnePerson)
                </div>
                <div class="col-md-7">
                    @Html.TextBoxFor(d => d.MaxNumberOfShiftsInADayForOnePerson, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.MaxNumberOfShiftsInADayForOnePerson, "", new { @class = "red" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(d => d.ShiftsInConsecutiveDayAllowed)
                </div>
                <div class="col-md-7">
                    @Html.CheckBoxFor(d => d.ShiftsInConsecutiveDayAllowed, new { @class = "" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    @Html.LabelFor(d => d.FairenessRuleEnabled)
                </div>
                <div class="col-md-7">
                    @Html.CheckBoxFor(d => d.FairenessRuleEnabled, new { @class = "" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Turn the wheel" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Allocations.Any())
{
    <div class="row">
        <h2>Schedule</h2>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Day</label>
        </div>
        @for (int i = 1; i <= Model.Allocations[0].PeopleAllocation.Count; i++)
        {
            <div class="col-md-2">
                <label>Shift @i</label>
            </div>
        }
    </div>
}
@foreach (var item in Model.Allocations)
{
    <div class="row">
        <div class="col-md-1">
            <label>@item.DayOrder</label>
        </div>
        @foreach (var person in item.PeopleAllocation)
        {
            <div class="col-md-2">
                <label>@person.Name</label>
            </div>
        }
    </div>
}

<input type="hidden" id="url-add-person" value=@Url.Action("GetNewPerson") />

@section scripts {
    <script type="text/javascript">

        function addPerson() {
            var maxId = 0;

            $('.hdn-person-id').each(function () {
                let currentVal = parseInt($(this).val());
                if (currentVal > maxId) {
                    maxId = currentVal;
                }
            })

            $.ajax({
                type: "POST",
                url: $('#url-add-person').val(),
                data: { id: maxId + 1 },
                cache: false,
                success: function (html) {
                    $("#container-people").append(html);
                }
            });
        }

        function deletePerson(element) {
            console.log('delete me')
            $(element).closest('.row').remove();
        }
    </script>
}