﻿@model WheelOfFateWeb.Models.Person

@using (Html.BeginCollectionItem("People"))
{
    <div class="row">
        @Html.HiddenFor(d => d.Id, new { @class = "hdn-person-id" })
        <div class="col-md-8">
            @Html.TextBoxFor(d => d.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Name, "", new { @class = "red" })
        </div>
        <div class="col-md-4">
            <input type="button" class="btn btn-danger" value="Delete" onclick="deletePerson(this);" />
        </div>
    </div>
}